[submodule "pvwatch/vendors/ImPlot"]
    path = pvwatch/vendors/ImPlot
    url = https://github.com/epezent/implot

[submodule "pvwatch/vendors/ImGui"]
    path = pvwatch/vendors/ImGui
    url = https://github.com/ocornut/imgui/tree/docking